<div class="todo-list-items-container">
  <mat-list>
    <div>
      <mat-list-item>
        <div class="todo-item">
          <div class="items">
            <span>item 1</span>
          </div>
          <div class="buttons">
            <button mat-fab-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </div>

    <mat-divider></mat-divider>

    <div>
      <mat-list-item>
        <div class="todo-item">
          <div class="items">
            <span>item 2</span>
          </div>
          <div class="buttons">
            <button mat-fab-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </div>

    <mat-divider></mat-divider>

    <div>
      <mat-list-item>
        <div class="todo-item">
          <div class="items">
            <span>item 3</span>
          </div>
          <div class="buttons">
            <button mat-fab-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </div>

    <mat-divider></mat-divider>

    <div>
      <mat-list-item>
        <div class="todo-item">
          <div class="items">
            <span>item 4</span>
          </div>
          <div class="buttons">
            <button mat-fab-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
</div>
