<div class="todo-list-items-container">
  <mat-list>
    @for(task of items; track task) {
      <mat-list-item>
        <div class="todo-item">
          <div class="items">
            <mat-checkbox></mat-checkbox>
      <!-- <input matInput type="text" id="task" value="{{task}}" [readonly]="task"> -->
      <input matInput type="text" [(ngModel)]="task.text" [readonly]="!task.isEditable">
          </div>
          <div class="buttons">
            <button mat-fab-button color="warn" (click) = "deleteItem(task)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab-button color="primary" (click) = "editItem(task)" >
              <mat-icon>{{ task.isEditable ? 'check' : 'edit' }}</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    }
  </mat-list>
</div>